<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список продуктов</title>
</head>
<body>
<h1>Это список продуктов</h1>
<table>
    <thead>
    <tr>
        <td>id</td>
        <td>Имя</td>
        <td>Вес, кг</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">1</td>
        <td th:text="${product.name}">Картофельа</td>
        <td th:text="${product.score}">5</td>
    </tr>
    </tbody>
</table>
</body>
</html>
